Repository etcd-io/etcd-operator, pull requests merged in 2025-05, with the labels that each got.

#138 Bump Go to 1.24.3
  Dockerfile
  go.mod
  tools/mod/go.mod
Labels: approved, size/S

#120 etcd options e2e testing
  Makefile
  test/e2e/etcd_options_test.go
  test/e2e/utils.go
  test/utils/utils.go
Labels: approved, size/L, ok-to-test

#103 Add `ProviderCertManagerConfig` struct fields
  api/v1alpha1/etcdcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.etcd.io_etcdclusters.yaml
  pkg/certificate/interfaces/interface.go
Labels: approved, size/L

#139 Update GetKubernetesResource's signiture and move it into utils package
  test/e2e/etcd_options_test.go
  test/e2e/utils.go
  test/utils/utils.go
Labels: approved, size/L

#116 Add cluster size validation marker
  api/v1alpha1/etcdcluster_types.go
  config/crd/bases/operator.etcd.io_etcdclusters.yaml
  config/manager/kustomization.yaml
  config/samples/operator_v1alpha1_etcdcluster.yaml
  internal/controller/etcdcluster_controller.go
  test/e2e/e2e_test.go
Labels: approved, size/L, ok-to-test

#143 etcd-operator: minimum size cluster validation
  api/v1alpha1/etcdcluster_types.go
  config/crd/bases/operator.etcd.io_etcdclusters.yaml
  config/samples/operator_v1alpha1_etcdcluster.yaml
  internal/controller/etcdcluster_controller.go
  internal/controller/etcdcluster_controller_test.go
  test/e2e/e2e_test.go
Labels: approved, size/L, ok-to-test

#144 Set logger for unit test
  internal/controller/suite_test.go
Labels: approved, size/XS

#149 refactor datapersistence
  test/e2e/datapersistence_test.go
Labels: approved, size/S, ok-to-test
